<!-- find previous record id
find case number + 1 -->

<h1>Create New Case</h1>

<div class = ".col-md-4">
	<form action="/cases"	method="post">

		<input type="text" placeholder="Case Number" name="number" value="<%= @case.number %>">

		<h4>Auditors</h4>
		<select name="auditor_id">
			<% @auditors.each do |auditor| %>
			<option value="<%= auditor.id %>"><%= auditor.name %></option>
			<% end %>
		</select></br>

		<h4>Patients</h4>
		<select name="patient_id">
			<% @patients.each do |patient| %>
			<option value="<%= patient.id %>"><%= patient.name %></option>
			<% end %>
		</select></br>

		<h4>Coordinators</h4>
		<select name="coordinator_id">
			<% @coordinators.each do |coordinator| %>
			<option value="<%= coordinator.id %>"><%= coordinator.name %></option>
			<% end %>
		</select></br>

		<h4>Hospitals</h4>
		<select name="hospital_id">
			<% @hospitals.each do |hospital| %>
			<option value="<%= hospital.id %>"><%= hospital.name %></option>
			<% end %>
		</select></br>
	<input type="submit"	value="Create new Case">

	</form>
</div>


