<h1>Edit Patient Profile</h1>

<form action= "/patients/<%= @patient.id %>" method= "post">
	<input type="hidden"	name="_method"			value="patch">
	<input type="text" 		name="name" 			value="<%= @patient.name %>">
	<input type="text"		name="gender"			value="<%= @patient.gender %>">
	<input type="text"		name="organs_list"value="<%= @patient.organs_list %>">
	<input type="integer"	name="term_date"	value="<%= @patient.term_date %>">
	<input type="submit"	value="Save Changes">
</form>
</br>
<a href="/patients">Return to Patients</a>