<h1>Edit <%= @hospital.name %> profile</h1>

<form action= "/hospitals/<%= @hospital.id %>" method= "post">
		<input type="hidden" 	name="_method"value="patch">
		<input type="text" 		name="name" 	value="<%= @hospital.name %>">
		<input type="text"		name="city"	value="<%= @hospital.city %>">
		<input type="text"		name="phone"	value="<%= @hospital.phone %>">
		<input type="submit"	value="Edit Hospital">
</form>

<a href="/hospitals/index"></a>
